<!doctype html>
<html lang="nl">
<head>
	<meta charset="UTF-8">
	<title>Realtime web</title>
	<meta name="viewport" content="width=device-width">

	<link href="<%= assetFingerprint('/css/app.css') %>" rel="stylesheet" as="style" onload="this.rel='stylesheet'">

	</script>
</head>
<body>
	<header class="navigation">
		<nav>

		</nav>
	</header>
	<%- content %>
</body>
</html>